* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


header {
    background-color: #111827;
    padding: 16px 32px;
    border-bottom: 1px solid #1f2937;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    text-align: center;
}


header img {
    height: 30px;
}


.form-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 70px auto;

}

.form-box h2 {
    margin-bottom: 20px;
    color: #111827;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}


.form-box textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 16px;
    resize: none;
    margin-bottom: 20px;
}


.form-box button {
    background-color: #111827;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.result-display {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.result-display p {
    font-size: 18px;
    color: #111827;
}

footer {
    text-align: center;
    padding: 12px 0;
    background-color: #f9fafb;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;


}